
body{
    background-color: bisque;
}
#canvas{
    background-color: rgb(215, 226, 190);
display:flex;
margin: auto;
}
#gameplay{display:flex;
flex-direction:row;}

#gameprop{
display: flex;
flex-direction: column;


}
div{margin: auto;
margin-top: 10px;
display: flex;
flex-direction: column;}

button{
    margin-top: 20px;
    width: 150px;
    align-self: center;
    border-radius: 5px;
    border-color: aliceblue;
}
h3{align-self: center;}