
body{ min-width: 1600px;
    background-image: url("./img/1007860.jpg");
   
}
#main{
    background-color: bisque;
    min-width: 250px;
    border-radius: 15px;
    border-color: green;
    border-style: double;
    border-width:5px;
    align-items: center;

}
#canvas{
background-color: rgb(215, 226, 190);
display:flex;
margin: auto;
border-color: green;
border-style: double;
border-width:5px;
}
#gameplay{display:flex;
flex-direction:row;
align-content:basee-lane;}

#gameprop{ 
    min-width: 250px;
    border-radius: 15px;
    border-color: green;
    border-style: double;
    border-width:5px;
    background-color: bisque;
  
display: flex;
flex-direction: column;


}
div{margin: auto;
margin-top: 5px;
display: flex;
flex-direction: column;}

button{
    min-width: 150px;
    min-height: 40px;
    border-radius: 15px;
    border-color: green;
    border-style: double;
    align-self: center;
    margin:5%;
    background-color: orange;
    
  
  
}

#start-btn{
    min-height: 80px;
    background-color: green;
    border-color: orange;
    color:aliceblue;
}

h3{align-self: center;
   }
   #h1{
    background-color: bisque;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    border-color: green;
    border-style: double;
    border-width:5px;
   }

#header{display: flex;
       margin:auto;
       font-size:1.5em;
       align-items: center;
       
}
#score-div{
    background-color: red;
    border-radius: 15px;
    border-color: green;
    border-style: double;
    border-width:5px;
}
#score{
color: aliceblue;

}